<div class="flex items-center gap-4 p-4 shadow">
    <div class="font-mono text-xl items-center flex gap-2 mr-4">
        <span class="material-icons">
            group
        </span>
        <span class="text-xl">PeopleManager</span>
    </div>
    <div class="flex gap-4">
        <div class="hover:text-blue-600 hover:cursor-pointer" routerLink="/home" routerLinkActive="text-blue-600">Home
        </div>
        <div class="hover:text-blue-600 hover:cursor-pointer" routerLink="/peoples" routerLinkActive="text-blue-600">
            Peoples</div>
    </div>

</div>